.dndflow {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 100vh;

}

.body{
    /* height: 100%; */
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    background: #f8f9fa!important;
}

.dndflow .dndnode {
    /* dbbbk */
    /* height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    cursor: grab;
    height: 100%;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
    width: 80%;
}

.dndflow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
        /* width: 100%; */
    }
}

.save__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 15px;
}

.save__controls button {
    margin-left: 5px;
}

.react-flow__edge-path {
    stroke: #333;
    stroke-width: 1.5;
}

.temp .react-flow__edge-path {
    stroke: #bbb;
    stroke-dasharray: 5 5;
}