aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    width: 20%;
}

aside .description {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .aside {
        width: 50%;
        max-width: 250px;
    }
}